.footer {
  background: $base-grey;
  padding: 1rem 0;
  text-align: center;

  @include media-queries('tablet') {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  h3 {
    font-family: $default-header-font-family;
    margin: 2rem auto;
    font-size: 2rem;
    color: $base-dark-grey;
  }

  a {
    display: block;
    font-family: $default-para-font-family;
    font-size: 1.25rem;
    color: $base-mid-grey;
    text-decoration: none;
    line-height: 1;
    padding: .5rem 1rem;
  }

  &__navigation {
    margin: 0 auto;
    color: $base-mid-grey;
  }

  &__about-pi {
    margin: 0 auto;
    color: $base-mid-grey;
  }

  &__contact {
    margin: 0 auto;
    color: $base-mid-grey;

    .contact-details {
      h3 {
        color: $base-mid-grey;
      }
    }

    .social-media {
      display: none;
    }
  }

  &__newsletter {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto 1rem;

    @include media-queries('tablet') {
      grid-area: 2 / 1 / 2 / 5;
    }

    h4 {
      color: $base-mid-grey;
      font-size: 1.25rem;
    }

    input {
      font-family: 'FontAwesome', $base-fonts;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      width: 95%;
      padding: .5rem;
      margin: 1rem auto;
      border-radius: 3px;
    }

    button {
      width: 95%;
      margin: 0 auto;
      padding: .5rem;
      font-family: $default-para-font-family;
      cursor: pointer;
    }
  }

  &__copyright {
    margin: 1.25rem auto;
    font-size: 1.25rem;
    padding: 0 2rem;

    @include media-queries('tablet') {
      grid-area: 3 / 1 / 3 / 4;
    }

    p {
      margin: 1rem auto;
      line-height: 1.5;
    }
  }
}
