/**
  This is the style for the header components and links. Including the NAV
 */

.header {
  width: 100%;
  height: auto;
  background: $base-grey;
  margin: 0 auto;

  &__title {
    display: none;

    @include media-queries('tablet') {
      display: block;
    }
  }

  &__secondary-content {
    display: none;
    max-width: 1200px;

    .sub-title {
      font-family: $default-header-font-family;
      font-style: italic;
    }

    .social-media {
      color: white;
      font-size: 1.5rem;

      .link {
        text-decoration: none;
        color: $base-dark-grey;
      }
    }

    @include media-queries('tablet') {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      padding: 1rem 1.5rem;
    }
  }

  &__large-nav {
    display: none;

    @include media-queries('tablet') {
      display: inline-block;

      ul {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: auto;
        font-size: 1.25rem;

        li {
          margin: 0 0 0 1.5rem;

          a {
            text-decoration: none;
            color: $base-dark-grey;
          }

          &.current_page_item a {
            color: black;
          }
        }
      }
    }

    @include media-queries('laptop') {
      ul {
        font-size: 1.5rem;

        li {
          margin: 0 0 0 2.5rem;
        }
      }
    }
  }

  &__main-content-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 1rem 1.5rem;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
  }

  &__nav-container-flex {
    @include media-queries('tablet') {
      display: flex;
      align-items: center;
    }
  }

  &__branding-nav-branding-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 8rem;
    justify-content: space-around;
  }

  &__branding {
    order: 1;

    .site-link {
      width: 4rem;
      display: block;

      @include media-queries('tablet') {
        width: 8rem;
      }
    }

    img {
      @include responsive-image();
    }
  }

  &__nav-primary {
    order: 0;
    max-width: 1200px;
    margin: 0 auto;
  }

  &__nav-bars {
    font-size: 3rem;
    cursor: pointer;

    @include media-queries('tablet') {
      display: none;
    }
  }

  &__donate {
    order: 2;

    a {
      &:hover {
        color: $link-text-color;
      }
    }

    @include media-queries('tablet') {
      margin: 0 0 0 2rem;
    }
  }

  #nav-primary-menu-container {
    display: block;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, .9);
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transform: translateX(-100%);

    &.to-open {
      opacity: 1;
      transform: translateX(0%);
    }

    &.to-close {
      opacity: 0;
      transform: translateX(-100%);
    }

    @include media-queries('tablet') {
      display: none;
    }

    .nav-primary-menu {
      height: 20vh;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;

      @include link-text();

      a {
        color: white;
        font-size: 2rem;
      }
    }

    .close-icon-container {
      position: relative;
      height: 5rem;

      .close-span {
        position: absolute;
        right: 2rem;

        .close-i {
          color: white;
          transform: rotate(45deg);
          transform-origin: 0;
        }
      }
    }
  }

  hr {
    display: none;

    @include media-queries('tablet') {
      display: inline-block;
      width: 100%;
    }
  }
}
